# Folders:
.DS_Store/
.vs/
.vscode/
bin/
build/
cache/
log/
obj/
node_modules/
packages/
temp/
test-results/
output/

# Files:
*.csproj.user
*~
*.bash_history
.DS_Store

# Project specific:
bison-parser.c
bison-parser.h
flex-scanner.c
program
